*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
}

.nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar-brand
{
    color: whitesmoke !important;
    font-size: 60px !important;
    font-weight: 400;
    float:left;
    padding-left: 20px;
}

.navbar
{
    padding-left: 20px;
    background-image: linear-gradient(to right, #3ac5fc, hsla(181, 94%, 81%, 0.74), #3ac5fc ) ;
    font-size: 20px;
    float: right;
    padding-right: 20px !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
    margin-top: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color:rgb(0, 0, 0) !important;
    font-weight: 500;
    float: right;
    text-align: right;
}
.fa-bars
{
    color:rgb(105, 46, 46);
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;

}

/*------------------------------banner section-----------------------------------------*/
#banner
{
    background-image: linear-gradient(to right, #3ac5fc, hsla(181, 94%, 81%, 0.74), #3ac5fc );
    color:black;
    padding-top: 5%;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn
{
    width: 45px;
    margin: 20px;

}
#banner a
{
    color:black;
    text-decoration: none;
}

/*-------------------------------- Project Section------------------------------------------------------*/

#project
{
    padding: 80px 0;
}
.project-img
{
    width: 200px;
    margin-top: 20px;
}
.projects
{
    padding: 20px;
}
.projects h5
{
    padding: 5px;
    margin-top: 25px;
}
.title::before
{
    content: '';
    background: rgb(21, 23, 156);
    height: 5px ;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    transform: translateY(63px);    
}
.title::after
{
    content: '';
    background: rgb(42, 44, 167);
    height: 10px ;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display:block;
    transform: translateY(8px);    
}
#services .btn-primary
{
    box-shadow:none;
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #3ac5fc, hsla(181, 94%, 81%, 0.74), #3ac5fc );
    
}
