*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'mingliu', Courier, monospace;
}

.nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar-brand
{
    color: whitesmoke !important;
    font-size: 60px !important;
    font-weight: 400;
    float:left;
    padding-left: 20px;
}

.navbar
{
    padding-left: 20px;
    font-size: 20px;
    padding-right: 20px !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
    margin-top: 20px;
}
.container-fluid a:hover
{
    text-decoration: underline !important;
}

.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: whitesmoke !important;
    font-weight: 500;
    float: right;
    text-align: right;
}

.fa-bars
{
    color:rgb(253, 253, 253);
    
}
.navbar-toggler
{
    outline: none !important;
}

/*------------------------------banner section-----------------------------------------*/
#banner
{
    /* background: url('images/gradient.jpg'); */
    color: whitesmoke;
}
.promo-title
{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.play-btn
{
    width: 45px;
}
#banner a
{
    color:rgb(248, 244, 244);
    text-decoration: none;
}

/*-------------------------------- Project Section------------------------------------------------------*/

#project
{
    padding: 80px 0;
}
.project-img
{
    width: 200px;
    margin-top: 20px;
}
.projects
{
    padding: 20px;
}
.projects h5
{
    padding: 5px;
    margin-top: 25px;
}
.title::before
{
    content: '';
    background: rgb(21, 23, 156);
    height: 5px ;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    transform: translateY(63px);    
}
.title::after
{
    content: '';
    background: rgb(42, 44, 167);
    height: 10px ;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display:block;
    transform: translateY(8px);    
}
#services.btn-primary
{
    box-shadow:none;
    padding: 15px 25px; 
    border: none;
    border-radius: 20px;
    /* background: url('images/gradient.jpg'); */
    
}
/*-------------------About Us---------------------*/
#about-us
{
    /* background: url('images/gradient.jpg'); */
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li
{
    margin: 10px 0;
}
#about-us ul
{
    margin-left: 20px;
}
/*-------------Social Media Section------------------*/
#social-media
{ 
    /* background:  url('images/gradient.jpg'); */
    padding: 100px 0;

}
#social-media p
{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img
{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img
{
    transform: translateY(-10px);
}
/*-----------------Footer---------------*/
/* #footer
{
    background-image: linear-gradient(to right, #3ac5fc, hsla(181, 94%, 81%, 0.74), #3ac5fc );
    color:white;
} */
.footer-img
{
    width: 100%;
}
.footer-box
{
    padding: 10px;
}
.footer-box img
{
    width: 100px;
    margin-bottom: 10px;
}
.footer-box .fa
{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align:center;
    padding-top: 7px;
    border-radius: 2px;
    /* background:  url('images/gradient.jpg'); */
}